.list-input-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-input-input {
    width: 90%;
}

.list-input-values {
    display: flex;
    flex-direction: column;

    margin-top: 2vmax;
}

.list-input-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0.25vmax 0;

    background: #382357;
    border-radius: 5px;
}

.list-input-value-label {
    padding: 1vmax 2vmin;
    margin: 0.25vmax 0;
}

.label {
    width: 80%;
    margin: 2vmax 0 3vmax 0;

    font-size: 2.5vmax;
    text-decoration: underline;
}

.input-label {
    width: 80%;
    margin: 1vmax 0 0.5vmax 0;

    font-size: 2vmax;
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0.5vmax 1vmin;

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.24);
}

.no-items-label {
    align-self: center;

    margin: 2vh 0;

    color: rgba(255, 255, 255, 0.56);
    font-style: italic;
    text-decoration: underline;
    font-size: 2vmax;
}

.horizontal-list {
    display: flex;
    flex-direction: row;

    width: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
}

.add-item-button-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1.5vh 3vw;
    height: 25vmax;
}

.add-item-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    align-self: center;

    padding: 0.5vmax 3vmin;
    margin: 1vmax 0;
    width: 100%;

    text-align: center;
    background: #592e83;
    border-radius: 5px;
}

.horizontal-list-item {
    display: flex;
    flex-direction: column;

    padding: 0.5vmax 1vmin;
    margin: 1vmax 0;
    width: 100%;

    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
}

.horizontal-list-item-head {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.horizontal-list-img {
    width: 50px;
    height: 50px;

    margin-right: 3vmin;
}

.horizontal-list-item-text-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90vmin;
}

.horizontal-list-item-text-group-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-list-item-name {
    font-size: 3vmax;
}

.horizontal-list-item-description {
    font-size: 1.8vmax;
}

.horizontal-list-item-button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restore-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.restore-label-text {
    margin: 0 0.5vmax;

    font-size: 1.5vmax;
}

.restore-label-link {
    margin: 0 0.5vmax;

    font-size: 1.5vmax;
    color: #61dafb;
    text-decoration: underline;
}

.input-group {
    margin-bottom: 5vh;
}

.list-item-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 1vmax 2vmin;
    margin: 0.2vmax 0;

    border-radius: 5px;
    background: #212121;

    font-size: 1.5vmax;
}

.list-item-small-left {
    width: 50%
}

.list-item-small-right {
    width: 50%;
    text-align: center;
}

.form-view {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 0 5vmin;

    background: rgba(134, 134, 134, 0.03);
    border-radius: 5px;
}

.error-label {
    color: red;
}