.list-input-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-input-input {
    width: 90%;
}

.list-input-values {
    display: flex;
    flex-direction: column;

    margin-top: 2vmax;
}

.list-input-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0.25vmax 0;

    background: #382357;
    border-radius: 5px;
}

.list-input-value-label {
    padding: 1vmax 2vmin;
    margin: 0.25vmax 0;
}

.label {
    width: 80%;
    margin: 2vmax 0 3vmax 0;

    font-size: 3vmax;
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.no-items-label {
    margin: 2vh 0;

    color: rgba(255, 255, 255, 0.56);
    font-style: italic;
    text-decoration: underline;
}