.conversations-view {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.conversations-view-item {
    display: flex;
    flex-direction: row;

    margin: 0.5vh 0;
    padding: 0.5vh 1vw 1vh 1vw;

    width: 100%;

    border-radius: 5px;
    background: #382357;
}

.conversations-view-companion-img {
    width: 50px;
    height: 50px;
    border-radius: 666px;

    margin: 0 3vw 0 1vw;
}

.conversations-view-companion-fullname {
    font-size: 2.5vh;

    margin: 0 0 0.5vh 0;
}

.conversations-view-content {
    display: flex;
    flex-direction: column;
}

.conversations-view-last-msg-text {
    padding: 1vh 1vw 0.5vh 1vw;
}

.conversations-view-no-msg-label {
    color: #868686;
}

