.questionnaire-rules-view {
    display: flex;
    flex-direction: column;
}

.rules-label {
    align-self: center;

    margin: 1vmax 3vmin;

    font-size: 3vmax;
}

.questionnaire-rules {
    font-size: 2vmax;
}

.rules-agree-button {
    margin: 3vh 0;
}

.questionnaire-creation-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionnaire-creation-view-label {
    width: 80%;
    margin: 2vmax 0 3vmax 0;

    font-size: 3vmax;
    text-decoration: underline;
}

.questionnaire-add-item-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    align-self: center;

    padding: 0.5vmax 3vmin;
    margin: 1vmax 0;
    width: 80%;

    text-align: center;
    background: rgba(134, 134, 134, 0.63);
    border-radius: 5px;

}

.questionnaire-add-item-label {
    margin: 0 0 0 1vmin;

    font-size: 2vmax;
}

.questionnaire-creation-item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    padding: 0.5vmax 2vmin;

    background: rgba(134, 134, 134, 0.63);
    border-radius: 5px;
}

.questionnaire-creation-item-form > * {
    margin: 1vmax 2vmin;
}

.questionnaire-item-name-input {
    width: 85%;
}

.questionnaire-item-list-input {
    width: 90%;
}

.questionnaire-item-list {
    display: flex;
    flex-direction: column;
}

.questionnaire-item-list-item {
    padding: 1vmax 2vmin;
    margin: 0.25vmax 0;

    width: 90%;

    background: #382357;
    border-radius: 5px;
}

.questionnaire-input-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.save-questionnaire-button {
    margin-top: 5vmax;
    width: 80%;
}

.questionnaire-creation-item-form-disclaimer {
    display: flex;
    flex-direction: row;

    padding: 1vmax 3vmin;

    background: #382357;
    border-radius: 5px;
}

.questionnaire-creation-item-form-disclaimer-text {
    font-size: 2vmax;
}

.questionnaire-item {
    width: 80%;
}

.questionnaire-item-head-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.questionnaire-item-name {
    padding: 1vmax 0;

    font-size: 2vmax;
}

.questionnaire-item-type {
    padding: 0.5vmax 1.5vmin;
    width: auto;

    font-size: 1.5vmax;

    background: rgba(134, 134, 134, 0.63);
    border-radius: 5px;
}

.questionnaire-item-list-item-display {
    padding: 0.5vmax 2vmin;
    margin: 0.25vmax 0;

    font-size: 2vmax;


    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
}

.questionaire-skill-item {
    display: flex;
    flex-direction: column;

    padding: 0.5vmax 1vmin;
    margin: 1vmax 0;
    width: 80%;

    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
}

.questionaire-skill-item-horizontal {
    display: flex;
    flex-direction: row;
}

.questionnaire-skill-img {
    width: 50px;
    height: 50px;

    margin-right: 3vmin;
}

.questionnaire-skill-item-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.questionnaire-skill-name {
    font-size: 3vmax;
}

.questionnaire-skill-type {
    font-size: 1.8vmax;
}

.questionnaire-skill-description {
    padding: 1vmax 3vmin;
}

.questionnaire-creation-skillpoints-distribution-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 80%;
    margin: 0 3vmin;
}

.questionnaire-creation-skillpoints-distribution-entry {
    margin: 1vmax 0;
}

.questionnaire-creation-skillpoints-distribution-name {
    align-self: flex-start;
    font-size: 2vmax;
}

.questionnaire-creation-skillpoints-distribution-value {
    width: 100%;
}

.questionnaire-creation-skill-item-form {
    display: flex;
    flex-direction: column;

    width: 80%;

    padding: 0 5vmin;

    background: rgba(134, 134, 134, 0.63);
    border-radius: 5px;
}

.questionnaire-creation-skill-item-form > * {
    margin: 1vmax 0;
}

.questionnaire-creation-skill-item-form-img-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
}

.questionnaire-creation-skill-item-form-img-selection-item {
    width: 50px;
    height: 50px;

    margin: 0.25vmax 1vmin;
}

.questionnaire-creation-skill-item-form-img-selection-item-selected {
    border: 1px solid gold;
}

.questionnaire-creation-skill-item-form-lvl-increase-vertical {
    display: flex;
    flex-direction: column;
}

.questionnaire-creation-skill-item-form-lvl-increase-horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.questionnaire-creation-skill-item-form-label {
    padding-bottom: 0.5vmax;

    text-decoration: underline;
}

.questionnaire-creation-skill-item-form-lvl-increase-horizontal > * {
    margin-right: 5vmin;
}

.questionnaire-creation-skill-item-form-lvl-increase-value {
    width: 30vmin;
}

.questionnaire-creation-skill-item-form-checkbox-horizontal {
    display: flex;
    flex-direction: row;
}

.questionnaire-creation-skill-item-form-checkbox-label {
    margin-left: 3vmin;
}

.questionnaire-creation-skill-item-form-lvl-increase-values {
    padding-left: 3vmin;
}

.questionnaire-creation-skill-item-form-lvl-increase-item {
    margin: 1vmax 0;
}

.questionnaire-creation-skill-item-form-lvl-increase-item-label {
    margin: 0.5vmax 0;
}

.questionnaire-creation-skill-item-form-lvl-increase-item-value {
    width: 40vmin;
}

.questionnaire-skill-detail {
    padding: 1vmax 0  0 3vmin;
}

.questionnaire-skill-detail-lvl-increase-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 1vmax 3vmin;
}

.questionnaire-skill-detail-lvl-increase-detail-label {
    padding-right: 3vmin;
}

.questionnaire-skill-detail-lvl-increase-detail-chip {
    padding: 0.25vmax 1.5vmin;
    margin: 0.25vmax 0.5vmin;

    background: rgba(21, 12, 31, 0.59);
    color: white;
    border-radius: 666px;

    font-size: 1.3vmax;
    line-height: 2vmax;
}